<?xml version="1.0"?>
<settings>

  <cross_sections>
    ../../../data/cross_sections_nndc.xml
  </cross_sections>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>510</batches>
    <inactive>500</inactive>
    <particles>5000</particles>
  </eigenvalue>

  <state_point>
    <batches> 19 30 45 50 100 200 500 800 1000 2000</batches>
  </state_point>

  <!-- Starting source -->
  <source>
    <space type="fission">
      <parameters>-10.07872 -10.07872 -0.62992  -8.81888 -8.81888  0.62992</parameters>
    </space>
  </source>

  <!-- Run CMFD or not -->
  <run_cmfd> true </run_cmfd>

  <entropy>
  <dimension> 2 2 1</dimension>
    <lower_left>-10.07872 -10.07872 -0.62992</lower_left>
    <upper_right>10.07872 10.07872 0.62992</upper_right>
  </entropy>
</settings>
