<?xml version="1.0"?>
<settings>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>500</batches>
    <inactive>127</inactive>
    <particles>1000000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="fission">
      <parameters>
        -100 -5 -5 100 5 5
      </parameters>
    </space>
  </source>

  <state_point>
    <batches>500 600 800 1000 1200 1400 1600 1800 2000</batches>
  </state_point>

  <seed> 495860@@SEED@@ </seed>
  <run_cmfd> true </run_cmfd>
  <run_loo> true </run_loo>

  <entropy>
    <lower_left>-100 -5 -5</lower_left>
    <upper_right>100  5  5</upper_right>
    <dimension>20 1 1</dimension>
  </entropy>



</settings>
