<?xml version="1.0"?>
<settings>

  <cross_sections>
    ../data/cross_sections_nndc.xml
  </cross_sections>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>100</batches>
    <inactive>5</inactive>
    <particles>10000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>-10 -10 -10  0  0  10</parameters>
    </space>
  </source>

  <!-- Run CMFD or not -->
  <run_cmfd>
    true
  </run_cmfd>
  
  <entropy>
    <dimension>2 2 1</dimension>
    <lower_left>-10 -10 -10</lower_left>
    <upper_right>10 10 10</upper_right>
  </entropy>
</settings>
